In [ ]:
import pandas as pd

def main()->None:
    n = int(input())
    names, math_score, science_score = [], [], []
    for _ in range(n):
        name, math, science = input().split()
        math, science = int(math), int(science)
        names.append(name)
        math_score.append(math)
        science_score.append(science)
    data = {
        "name": names,
        "math_score": math,
        "science_score": science
    }
    df = pd.DataFrame(data=data)
    df["total_score"] = df["math_score"] + df["science_score"]
    print(df)
    return
    
    
    

if __name__ == "__main__":
    main()

ValueError: invalid literal for int() with base 10: 'z,cvbsvj'

In [3]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    names, salaries = [], []
    for _ in range(n):
        name, salary = input().split()
        salary = int(salary)
        names.append(name)
        salaries.append(salary)
    threshold = int(input())
    data = {
        "name": names,
        "salary": salaries
    }
    df = pd.DataFrame(data=data)
    res = df[df["salary"] > threshold]
    print(res)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

ValueError: invalid literal for int() with base 10: ''

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        name, salary = input().split()
        salary = int(salary)
        data.append((name,  salary))
    df = pd.DataFrame(data, columns=['department', 'salary'])
    avgdf = df.groupby("department", as_index=False)["salary"].mean()
    avgdf.rename(columns={"salary": "avg_salary"}, inplace=True)
    print(avgdf)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        name, salary = input().split()
        salary = int(salary)
        data.append((name,  salary))
    df = pd.DataFrame(data, columns=['product', 'price'])
    df.sort_values(by="price")
    print(df)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        id, name = input().split()
        id = int(id)
        data.append((id,  name))
    df = pd.DataFrame(data, columns=['employee_id', 'name'])
    
    m = int(input())
    data = []
    for _ in range(m):
        id, salary = input().split()
        id = int(id)
        salary = int(salary)
        data.append((id,  salary))
    df2 = pd.DataFrame(data, columns=['employee_id', 'salary'])

    res = pd.merge(df, df2, on="employee_id")
    print(res)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        name, gender, salary = input().split()
        salary = int(salary)
        data.append((name,  gender, salary))
    df = pd.DataFrame(data, columns=['department','gender','salary'])
    avgdf = df.groupby(["department", "gender"], as_index=False)["salary"].mean()
    avgdf.rename(columns={"salary": "avg_salary"}, inplace=True)
    print(avgdf)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        region, product, price = input().split()
        price = int(price)
        data.append((region, product, price))
    df = pd.DataFrame(data, columns=["region", "product", "price"])
    res = pd.pivot_table(
        df,
        values='price',
        index=['region'],
        columns=['product']
    ).fillna(0).astype(int)
    print(res)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    data = {
    "name": ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola"],
    "continent": ["Asia", "Europe", "Africa", "Europe", "Africa"],
    "area": [652230, 28748, 2381741, 468, 1246700],
    "population": [25500100, 2831741, 37100000, 78115, 20609294],
    "gdp": [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
    }
    df = pd.DataFrame(data)
    minp:int = 25000000
    minarea:int = 3000000
    res = df[(df["population"] >= minp) | (df["area"] >= minarea)]
    res = res[["name", "population", "area"]]
    print(res.reset_index(drop=True))
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    data = {
    "product_id": [0, 1, 2, 3, 4],
    "low_fats": ["Y", "Y", "N", "Y", "N"],
    "recyclable": ["N", "Y", "Y", "Y", "N"]
    }

    df = pd.DataFrame(data)
    res = df[(df["low_fats"] == "Y") & (df["recyclable"] == "Y")]
    res = res[["product_id"]]
    res.reset_index(drop=True, inplace=True)
    print(res)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()

In [ ]:
import pandas as pd
import sys 

def main()->None:
    n = int(input())
    data = []
    for _ in range(n):
        oid, cid, amt = map(int, input().split())
        data.append((oid, cid, amt))
    df = pd.DataFrame(data, columns=['order_id', 'customer_id', 'amount'])
    df1 = df.groupby(["customer_id"], as_index=False)["amount"].sum()
    df1.rename(columns={"amount": "total_amount"}, inplace=True)
    m = int(input())
    data = []
    for _ in range(m):
        cid, name, city = input().split()
        cid = int(cid)
        data.append((cid, name, city))
    df2 = pd.DataFrame(data, columns=['customer_id', 'name', 'city'])

    merged = pd.merge(df1, df2, on="customer_id")
    res = merged[merged["total_amount"] > 500]
    neworder = ["customer_id", "name", "city", "total_amount"]
    res = res[neworder]
    res.reset_index(drop=True, inplace=True)
    res.sort_values(by='total_amount', ascending=False)
    print(res)
    return

if __name__ == "__main__":
    try:
        sys.stdin = open("input.txt")
    except:
        pass
    main()